<ion-header>
  <ion-navbar>
    <ion-title>Back</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item (click)="characterSelected(character)" *ngFor="let character of characters">
      <ion-avatar item-start>
        <img src="assets/img/headshots/{{character.Name | lowercase}}.png">
      </ion-avatar>
      <h2>{{character.Name}}</h2>
      <p *ngIf="character.LastUpdated === 'Coming Soon'">{{character.LastUpdated}}</p>
      <p *ngIf="character.LastUpdated !== 'Coming Soon'">Last Updated: {{character.LastUpdated}}</p>
    </ion-item>
  </ion-list>
</ion-content>