<ion-content *ngIf="character.LastUpdated !== 'Coming Soon'">
  <ion-header>
    <ion-navbar>
      <ion-title>Back</ion-title>
    </ion-navbar>

    <ion-card style="text-align:center;">
      <img src="./assets/img/headshots/{{character.Name}}.png">
      <ion-card-content>
        <ion-card-title>{{character.Name}}</ion-card-title>
        <p>Last Updated: {{character.LastUpdated}}</p>
      </ion-card-content>
    </ion-card>

    <ion-searchbar (ionInput)="searchMoves($event)" (ionCancel)="onCancel($event)" placeholder=""></ion-searchbar>
    <ion-list>
      <ion-item *ngFor="let move of moves" (click)="moveSelected(move)">
        {{ move.Command }}
      </ion-item>
    </ion-list>
  </ion-header>
</ion-content>

<ion-content *ngIf="character.LastUpdated === 'Coming Soon'">
  <ion-header>
    <ion-navbar>
      <ion-title>Back</ion-title>
    </ion-navbar>

    <ion-card style="text-align:center;">
      <img src="./assets/img/headshots/{{character.Name}}.png">
    </ion-card>
  </ion-header>
</ion-content>